body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
}

.message-info {
    color: midnightblue;
    background-color: #c3d5ff;
}

.message-success {
    color: darkgreen;
    background-color: #c5f2d2;
}

.message-warning {
    color: goldenrod;
    background-color: lightgoldenrodyellow;
}

.message-error {
    color: darkred;
    background-color: lightpink;
}